body
{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
 

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-item: center;
    height: 60px;
    background-color: azure ;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2) ;
    padding: 0px 5%
}

nav ul
{
    display: flex;
}

nav ul li a
{
    margin: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #505050;
    font-size: 16px;
    font-weight: 650;
}

nav ul li a:hover
{
    background-color:aqua;
    color: white;
    border-radius: 5px;
}

.logo
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
    font-weight: bold;
}
#home
{
    width: 100%;
    height: 95vh;
    position: relative;
}

.home p
{
    line-height: 0px;
    margin: 55px 0px 25px;
}

.home p:nth-child(1)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: aqua;
    font-size: 20px;
}

.home p:nth-child(2)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #6d6d6d;
    letter-spacing: none;
    font-size: 30px;

}.home p:nth-child(3)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: gray;
    font-size: 30px;

}.home p:nth-child(4)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 30px;
}

.news form
{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.news form input:first-child
{
    display: inline-block;
    width: 62%;
    padding: 14px 130px 14px 15px;
    border: 2px solid aquamarine;
    outline: none;
    border-radius: 30px;
    box-shadow: 0px 0px 5px aquamarine, 0px 0px 15px aquamarine;
}

.news form input:last-child
{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: aquamarine;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px black;
    top: 6px;
    right: 0px;
}

.home
{
    position: absolute;
    left: 10%;
    right: 10%;
    transform: translate(13% , 42%);
}

.picture
{
    width:200px ;
    height: auto;
    position: absolute;
    left: 80%;
    top: 30%;
    transform: translate(-70%);
}

.about
{
    height: 55vh;
    background-color: azure;
    padding: 2% 10% 10%;
}

.about-desc
{
    margin: 50px 50px;
}

.about-desc p:nth-child(1)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.about-desc p:nth-child(2)
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #505050;
    text-align: center;
}

.row
{
    margin: 30px;
    padding: 20px;
    display: flex;
}

.row .coloumn h2
{
    text-align: center;
}

.row .coloumn p
{
    text-align: justify;
}

.coloumn
{
    flex: 50%;
    padding: 30px;
    height: 200px;
}

/* Skill */
.skill
{
    height: 65vh;
    background-color: white;
    padding: 2% 10% 10%;
}

.skill-desc
{
    margin: 50px 50px;
}

.skill-desc p:nth-child(1)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.skill-desc p:nth-child(2)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #505050;
    text-align: center;
}

.box-container
{
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

.box-1, .box-2, .box-3
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 350px;
    height: 350px;
    box-shadow: 2px 12px 18px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}

.box-1 span, .box-2 span, .box-3 span
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aquamarine;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-1 p:nth-child(3), .box-2 p:nth-child(3), .box-3 p:nth-child(3)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#505050;
    width: 250px;
    margin: 0px 0px 50px 0px;
}

/*Contact*/
.contact
{
    height: 65vh;
    background-color: azure;
    padding: 2% 10% 10%;
}

.contact-desc
{
    margin: 50px 50px;
}

.contact-desc p:nth-child(1)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    font-size: 30px;
    line-height: opx;
    text-align: center;
    margin-bottom: 35px;
}

.contact-desc p:nth-child(2)
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #505050;
    text-align: center;
}

input[type=text], select, textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit]
{
    background-color: aquamarine;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 30px;
}

input[type=submit]:hover
{
    background-color: rgb(89, 247, 194);
}

input:active
{
    transform: scale(1,2);
}

.sosial
{
    width: 100%;
    background: white;
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sosial p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.sosial .button-dua
{
    background-color: aquamarine;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px black;
}

.sosial .button-dua a:hover
{
  background-color: transparent;
  border: 2px solid aquamarine;
  cursor: pointer;
}

